<web-app>

<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Logout</servlet-name>
<servlet-class>Logout</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Logout</servlet-name>
<url-pattern>/Logout</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>FetchCourtServlet</servlet-name>
<servlet-class>CourtReservationServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>FetchCourtServlet</servlet-name>
<url-pattern>/getSlots</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ReservationServlet</servlet-name>
<servlet-class>ReserveSlot</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ReservationServlet</servlet-name>
<url-pattern>/reserveSlot</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ReservationHistory</servlet-name>
<servlet-class>ReservationHistory</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ReservationHistory</servlet-name>
<url-pattern>/ReservationHistory</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Block</servlet-name>
<servlet-class>Block</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Block</servlet-name>
<url-pattern>/Block</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UpdatePassword</servlet-name>
<servlet-class>UpdatePassword</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UpdatePassword</servlet-name>
<url-pattern>/UpdatePassword</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Grievance</servlet-name>
<servlet-class>Grievance</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Grievance</servlet-name>
<url-pattern>/Grievance</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>CancelReservation</servlet-name>
<servlet-class>CancelReservation</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CancelReservation</servlet-name>
<url-pattern>/CancelReservation</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ItemReservation</servlet-name>
<servlet-class>ItemReservation</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ItemReservation</servlet-name>
<url-pattern>/getCount</url-pattern>
</servlet-mapping>


<jsp-config>
    <jsp-property-group>
        <url-pattern>*.html</url-pattern>
    </jsp-property-group>
</jsp-config>

</web-app>